$bg: #eeeff2;
$button_bg: #23589f;

.navbar {
  background-color: $bg !important;
}

.nav-item {
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  text-align: center;
  text-decoration: none !important;
  color: black !important;
}

.active-link {
  background-color: #23589f !important;
  color: white !important;
  transition: transform 0.3s ease-in-out;
}
