footer {
  background-color: #182a3a;
  min-height: 40px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  width: 100%;
}

footer a {
  color: white;
  text-decoration: none;
}

.footer-logo {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

body {
  padding-bottom: 60px;
}
