/* Individual Card Styling */
.custom-card {
  background-color: #205375;
  width: 200px; 
  transition: transform 0.3s ease-in-out;
  scroll-snap-align: start; 
  margin-right: -15px;
  position: relative;

  &:hover,
  &.selected {
    background-color: #307eb1;
  }
}

/* Prevents the cards from shrinking when the window is resized */
.d-flex {
  flex-wrap: nowrap;
}

.custom-card-body {
  height: 50px;
  overflow: hidden;
}

/* Scrollbar Styling */
.overflow-auto {
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch;
}

.star-icon-wrapper {
  background-color: #205375; 
  border-radius: 50%;
  position: absolute;
  width: 40px; 
  height: 40px;
  top: 10px;
  right: 10px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: #307eb1; 
  }
}

.nav-pills .nav-link {
  color: #205375; 
}

.nav-pills .nav-link.active {
  background-color: #307eb1 !important; 
  color: white !important; 
}

.fixed-img {
  height: 15rem; 
  object-fit: cover; /* Ensure image covers the card without distortion */
  width: 100%; 
}


.artist-name {
  font-size: 14px; 
  font-weight: 500;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; /* Prevent text wrapping */
  margin: 0;
}

.d-flex-similar {
  flex-wrap: nowrap;
}


.custom-card-similar {
  background-color: #205375;
  transition: transform 0.3s ease-in-out;
  scroll-snap-align: start;
  position: relative;

  &:hover,
  &.selected {
    background-color: #307eb1;
  }
}

.custom-card-similar-body {
  display: flex;
  align-items: center;
  height: 50px;
  text-align: center; 
}


.custom-nav-pills .nav-link {
  color: #307eb1 !important;
  transition: none !important;
}

.custom-nav-pills .nav-item {
  margin: 0;
  padding: 0; 
}

.custom-nav-pills .nav-link.active {
  color: white !important;
  background-color: #307eb1 !important;
}

.custom-nav-pills .nav-link:hover {
  background-color: white; 
  color: #307eb1; 
}

.custom-nav-pills .nav-link:active:hover {
  background-color: #307eb1 !important;
  color: white !important;
}

.custom-button:hover {
  background-color: #307eb1 !important;
  color: white !important;
}