$button_bg: #23589f;

.custom-btn {
    background-color: #23589f !important;
    border-color: #23589f !important;
}

.custom-btn:hover {
    background-color: #1d4d89 !important;
    border-color: #1d4d89 !important;
}